.table-header.row
  .col-lg-9

    -#- if params[:q].present? and ( params[:q][:name_cont].present? )
    -#  = link_to shop_distributions_path, class: 'btn btn-info' do
    -#    = t('view.all')
    -#    %span.badge= City.where(id: current_shop.city_id).count
  .col-lg-3
    -#= search_form_for [:shop, @search], url: shop_distributions_path, builder: SimpleForm::FormBuilder, html: {class: 'form-inline', data: { turboform: true }} do |f|
    -#  .pull-right
    -#    .input-group
    -#      = f.input_field :name_cont, label: false, class: 'form-control', placeholder: t('view.quick_search')
    -#      %span.input-group-btn
    -#        = button_tag( class: 'btn btn-primary') do
    -#          %i.icon-search